  /*in this file I have decided to go with the external CSS and edit the HTML using CSS sylesheet*/
body {
    background-color: #504F40;
  }
  /*in this section, I am editing the H1 section giving it all the same color*/
  h1 {
    color:  #233B5A;
    margin-left: 20px;
    font-family: "Century Gothic"
  }
  /*in this section, I am editing the H2 section giving it all the same color*/
  h2{
    color: #F0D893;
    margin-left: 20px;
  }
  /*in this section, I am editing the H3 section giving it all the same color*/
  h3 {
    color:  #84bc3c9d;
    margin-left: 20px;
    font-family: "Lucida Handwriting";
  
  }
  hr {
    border: 2px dashed #AD7346;
    margin-left: 0;
    width: 50%;
  }
  img {
    border-radius: 20%;
    max-width: 1000px;
    min-width: 300px;
    width: 30%;

    
  }
 
  /* making sure the title is centered in the webpage*/ 
  .title {text-align: center;}

  a:link {color: #AFC47B;}  
  a:visited {color: #66AD97;}

  div {
    position: sticky; 
    width: 250px;
    border: 5px solid rgb(7, 7, 7);
    border-radius: 20px;
    padding: 20px 30px 15px 10px;
    margin: 10px;
    border-style: groove;
  }
  .figures {
    
    width: 400px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 0.42in;
    margin-left: 4em;
    padding-top: 10.58mm;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 4em;
    border-top: 2px solid #e12b0b;
    border-right: 2px solid #f7fcfc;
    border-bottom: 2px solid hsl(203, 98%, 51%);
    border-left: 2px solid #f7fcfc;
    border-radius: 24px;
    border-style: groove;
  }
  audio {
    margin-top: 10px;
 }
  video {
  margin-top: 1px;
 }
 .figures{
  text-decoration: underline #8D6826;
}
.right {
  position: absolute;
  right: 0px;
  width: 0.65in;
  padding: 10px;
}
h5{
  color: #84bc3c;
}
h1{
  display: block;
  padding: 5px;
  border: 1px solid blue;
  background-color: rgb(194, 194, 184);
}
/*this hidden class not supposed to be shown on the page.*/
.hidden{
  display: none;
}
#images {
  width: 20px;
  height: 20px;
  max-width: 20px ;
  max-height: 20px;
}
body {
  display: flex;
  flex-direction: column;
  flex: none;
  align-self: auto;
}
body {
  display: grid;
  grid: auto auto / auto auto auto auto;
  grid-gap: 10px;
  background-color: #504F40;
  padding: 10px;
  grid: unset;
  grid: revert;
  

 
} 
.names{
  font-family: "Brush Script MT";
}
.agend{
  font-family: "Gabriola";
}
* {
  color: black;
}
a[title] {
  color: rgb(0, 128, 38);
}
h5, p {
  color: rgb(69, 2, 19);

}